/* ======== width ======== */

.width-240 {
  width: 240px;
}

.width-145 {
  width: 145px;
}

/* ============================= */

/* ======== height ======== */

.height-173 {
  height: 173px;
}

.height-250 {
  height: 250px;
}

.height-240 {
  height: 316px;
}

.height-233 {
  height: 26px;
}
/* ============================= */
